langchain
layoutparser[layoutmodels,tesseract]
llama_index
detectron2@git+https://github.com/facebookresearch/detectron2.git@e2ce8dc#egg=detectron2
unstructured[local-inference]
slack_bolt
openai
fastapi
filelock
websockets
gptcache
uvicorn
jinja2
faiss-cpu
bs4
libmagic
python-dotenv
